/* ====== ESTILO GENERAL ====== */
body {
    font-family: Times 'Times New Roman', Times, serif;
    background-color: #cea9e7;
    color: rgb(45, 44, 47);
    margin: 60px; 
    padding: 30;
}

/* ====== ENCABEZADO ====== */
header {
    text-align: left;
    background-color: #e6cef1;
    color: rgb(10, 0, 0);
    padding: 30px 0;
    text-align: center;
}

header img {
    width: 160px;
    height: 160px;
    margin-top: 30px;
    border-radius: 30%;
    display: block;
    margin: auto;
    object-fit: cover;
}

/* ====== CONTENEDORES ====== */
section {
    width: 80%;
    margin: 10px auto;
}

#competencias li {
    background-color: rgb(154, 93, 182);
    padding: 10px;
    margin: 10px 0;
    border-radius: 80px;
}    

/* ====== CONTENEDORES ====== */
section {
    width: 50%;
    margin: 10px auto;
}

#Funciones li {
    background-color: rgb(154, 93, 182);
    padding: 05px;
    margin: 10px 0;
    border-radius: 80px;
}
