/* ====== ESTILO GENERAL ====== */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #efe4f8;
    color: rgb(45, 44, 47);
    margin: 10px; 
    padding: 30;
}

/* ====== ENCABEZADO ====== */
header {
    text-align: left;
    background-color: #e6cef1;
    color: rgb(10, 0, 0);
    padding: 30px 0;
    text-align: center;
}

header img {
    width: 160px;
    height: 160px;
    margin-top: 30px;
    border-radius: 30%;
    display: block;
    margin: auto;
    object-fit: cover;
}

/* ====== CONTENEDORES ====== */
section {
    width: 15%;
    margin: 10px auto;
}

#Académico{
    background-color: #e6cef1;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
}    

/* ====== CONTENEDORES ====== */
section {
    width: 90%;
    margin: 10px auto;
}

#información{
    background-color: rgb(251, 248, 252);
    padding: 30px;
    margin: 10px 0;
    border-radius: 10px;
}  

/* ====== CONTENEDORES ====== */
section {
    width: 50%;
    margin: 10px auto;
}

#experiencia {
    background-color: #e6cef1;
    padding: 30px;
    margin: 30px 0;
    border-radius: 10px;
}

/* ====== CONTENEDORES ====== */
section {
    width: 50%;
    margin: 10px auto;
}

#puesto {
    background-color: rgb(251, 248, 252);
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
}

/* ====== CONTENEDORES ====== */
section {
    width: 10%;
    margin: 10px auto;
}

#competencias {
    background-color: #e6cef1;
    padding: 30px;
    margin: 40px 0;
    border-radius: 10px;
}

section {
    width: 50%;
    margin: 10px auto;
}

#items {
    background-color: rgb(251, 248, 252);
    padding: 30px;
    margin: 10px 0;
    border-radius: 10px;
}

section {
    width: 50%;
    margin: 10px auto;
}

#bitacora {
    background-color: #e6cef1;
    padding: 30px;
    margin: 10px 0;
    border-radius: 10px;
}